.question {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
  }
  .question ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
  }
  .question li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
  }
  .question li::after {
    content: ",";
  }
  .question li:last-child::after {
    content: ".";
  }
  .q {
    text-align: left;
    line-height: 1.5em;
  }
  .word{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
  }