.question {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
  }
  .question ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
  }
  .question li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
  }
  .question li::after {
    content: ",";
  }
  .question li:last-child::after {
    content: ".";
  }
  .q {
    text-align: left;
    line-height: 1.5em;
  }
  .word{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
  }

  .actions{
    display:table-row;
  }
  .delete{
    color: #fff;
    background: #eb5050;
    font-size: 1em;
    width: 100px;
    text-align: center;
    width: 120px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin: 20px auto 0 20px;
  }

  .edit{
    color: #fff;
    background: #722af0;
    font-size: 1em;
    width: 100px;
    text-align: center;
    width: 120px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin: 20px auto 0;
  }

  .comment.dark{
    color:#fff;
  }

  .comment button {
    display: block;
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #58249c;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 10px;
  }

  .comment form {
    max-width: 50rem;
    margin: 60px auto;
    display: flex;
    align-items: center;
  }

  .comment h3{
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  .title-comment{
    text-align: center;
  }

  .comments{
    max-width: 1200px;
    margin: 40px auto;
  }

  .comments .title{
    font-size: 2rem;
    font-weight: bolder;
  }

  .title.dark{
    color:#fff;
  }

  .add.dark{
    color:#fff;
  }

  .comments button {
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 0px;
    border: 0;
    border-radius: 4px;
    background-color: #58249c;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 0px;
  }

  .update-question button {
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 0px;
    border: 0;
    border-radius: 4px;
    background-color: #58249c;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 0px;
  }

  .update-question{
    margin: 60px auto;
    max-width: 1200px;
  }

  .hidden.dark{
    color:#fff;
  }
  
  .hidden{
    padding-top: 20px;
  }